<html>
<body>
<p>
{% if form.errors %}
{% for error in form.errors %}
{{ error }}<br>
{% endfor %}
{% endif %}
<form method="POST" class="form-horizontal">
{% for field in form %}
	<div class="control-group">
		<label class="control-label" for="{{field.id}}">{{field.name}}</label>
		<div class="controls">
		{{field}}
		</div>
	</div>
{% endfor %}
<br/>
<div class="form-actions">
<button type="submit" name="save" class="btn btn-success">Save</button>
<button type="submit" name="save-another" class="btn btn-success">Save & Add Another</button>
<a href="/" class="btn btn-inverse pull-right">Cancel</a>
<button type="reset" class="btn btn-danger pull-right" style="margin-right:10px">Clear</button>
</div>
</form>
</p>
</body>
</html>
